build/
CMakeFiles/
LiturgicCalendar.xcodeproj
CMakeScripts
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
libLiturgicCalendar.a
LiturgicCalendar
Makefile
.vscode
Debug
months
lang_out.ini
liturgic.en.db
liturgic.es_ES.db
liturgic.it_IT.db
liturgic.pt_BR.db
liturgic.zh_CN.db
liturgic.zh_TW.db
